.wrap {
    position: relative;
    width: 100%;
    max-width: 756px;
    min-height: 100%;
    aspect-ratio: 3/4;
    overflow: hidden;
    z-index: 0;
}

.hidden {
    display: none;
}


.md\:block {
    display: block;
}